{% extends 'base.html' %}

{% block title %}Lista Zawodników{% endblock %}

{% block content %}
  <h2>Lista Zawodników</h2>

  <!-- Przycisk do dodania nowego zawodnika -->
  <a href="{% url 'athlete_create' %}" class="btn btn-success mb-3">Dodaj Zawodnika</a>

  <table class="table">
    <thead>
      <tr>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Wiek</th>
        <th>Waga</th>
        <th>Poziom Pasa</th>
        <th>Styl Karate</th>
        <th>Klub</th>
        <th>Akcje</th>
      </tr>
    </thead>
    <tbody>
      {% for athlete in athletes %}
        <tr>
          <td>{{ athlete.first_name }}</td>
          <td>{{ athlete.last_name }}</td>
          <td>{{ athlete.age }}</td>
          <td>{{ athlete.weight }} kg</td>
          <td>{{ athlete.belt_level }}</td>
          <td>{{ athlete.karate_style }}</td>
          <td>{{ athlete.club }}</td>
          <td>
            <a href="{% url 'athlete_update' athlete.id %}" class="btn btn-primary"><i class="fas fa-edit"></i> Edytuj</a>
            <a href="{% url 'athlete_delete' athlete.id %}" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Usuń</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Paginacja -->
  <div class="pagination">
    {% if athletes.has_previous %}
      <a href="?page=1" class="btn btn-outline-secondary">&laquo; Pierwsza</a>
      <a href="?page={{ athletes.previous_page_number }}" class="btn btn-outline-secondary">Poprzednia</a>
    {% endif %}
    <span class="btn btn-outline-secondary">Strona {{ athletes.number }} z {{ athletes.paginator.num_pages }}</span>
    {% if athletes.has_next %}
      <a href="?page={{ athletes.next_page_number }}" class="btn btn-outline-secondary">Następna</a>
      <a href="?page={{ athletes.paginator.num_pages }}" class="btn btn-outline-secondary">Ostatnia &raquo;</a>
    {% endif %}
  </div>
{% endblock %}
