{% extends "base.html" %}

{% block content %}
<h1>Lista Rund</h1>

{% for tournament_info in tournament_data %}
    <h2>{{ tournament_info.tournament.name }} ({{ tournament_info.tournament.get_type_display }})</h2>
    
    <h3>Rundy:</h3>
    <ul>
        {% for round in tournament_info.rounds %}
            <li>
                Runda {{ round.round_number }}: 
                {{ round.athlete1 }} vs {{ round.athlete2 }} - Zwycięzca: 
                {% if round.winner %} {{ round.winner }} {% else %} Brak {% endif %}
            </li>
        {% endfor %}
    </ul>

    <h3>Kategorie wagowe:</h3>

    <h4>Mężczyźni:</h4>
    <ul>
        {% for category, athletes in tournament_info.male_categories.items %}
            <li>
                <strong>{{ category }}</strong>:
                <ul>
                    {% for athlete in athletes %}
                        <li>{{ athlete }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

    <h4>Kobiety:</h4>
    <ul>
        {% for category, athletes in tournament_info.female_categories.items %}
            <li>
                <strong>{{ category }}</strong>:
                <ul>
                    {% for athlete in athletes %}
                        <li>{{ athlete }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endfor %}

{% endblock %}
