{% extends 'base.html' %}

{% block title %}Lista Rund{% endblock %}

{% block content %}
  <h2>Lista Rund</h2>

  <!-- Wyświetlenie nazwy turnieju nad tabelą -->
  {% if rounds %}
    <h3>Turniej: {{ rounds.0.tournament.name }}</h3> <!-- Zakładając, że każda runda należy do tego samego turnieju -->
  {% endif %}
  
  <table class="table">
    <thead>
      <tr>
        <th>Runda</th>
        <th>Zawodnik 1</th>
        <th>Zawodnik 2</th>
        <th>Wynik</th>
        <th>Zwycięzca</th>
      </tr>
    </thead>
    <tbody>
      {% for round in rounds %}
        <tr>
          <td>{{ round.round_number }}</td>
          <td>{{ round.athlete1.first_name }} {{ round.athlete1.last_name }}</td>
          <td>{{ round.athlete2.first_name }} {{ round.athlete2.last_name }}</td>
          <td>
            {% if round.winner %}
              {{ round.winner.first_name }} {{ round.winner.last_name }}
            {% else %}
              Brak
            {% endif %}
          </td>
          <td>
            {% if round.winner %}
              Zwycięzca
            {% else %}
              -
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
