{% extends 'base.html' %}

{% block title %}Turniej: {{ tournament.name }}{% endblock %}

{% block content %}
  <h2>Turniej: {{ tournament.name }}</h2>
  
  {% for weight_category in tournament.weight_categories.all %}
    <h4 class="font-weight-bold">Kategoria wagowa: {{ weight_category.name }}</h4>
    <h5>Wyniki:</h5>
    <ul>
      {% for athlete in weight_category.athletes.all %}
        <li>{{ athlete.first_name }} {{ athlete.last_name }} - {{ athlete.results }}</li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}
